@layer components {
  .button {
    border: 1px solid transparent;
    border-radius: var(--radius-m);
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent);
    background-color: transparent;
    transition:
      background-image var(--dur-press),
      background-color var(--dur-press);
    flex: none;

    min-width: 72px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xs);

    /* 有时按钮带有图标 */
    gap: var(--space-xxs);

    /* 给伪元素定位增加隐形触摸区 */
    position: relative;
  }

  .sm {
    padding: var(--space-xxs);
    font-size: var(--text-tiny);
    line-height: var(--leading-tiny);
  }

  .sm::before {
    content: "";
    position: absolute;
    inset: -10px;
  }

  .md {
    font-size: var(--text-small);
    line-height: var(--leading-small);
  }

  .md::before {
    content: "";
    position: absolute;
    inset: -4px;
  }

  .lg {
    font-size: var(--text-body);
    line-height: var(--leading-body);
  }

  .button:hover {
    background-image: linear-gradient(var(--fill), var(--fill));
  }

  .button:active {
    background-image: linear-gradient(var(--stroke-weak), var(--stroke-weak));
  }

  .primary {
    background-color: var(--text-brand);
    color: var(--text-inverse);
  }

  .secondary {
    color: var(--text-brand);
    border-color: var(--text-brand);
    background-color: var(--background-overlay);
  }

  .ghost {
    border-style: dashed;
    border-color: var(--stroke-strong);
    color: var(--text-weak);

    &:hover {
      background-image: linear-gradient(transparent, transparent);
      border-color: var(--stroke-strong-brand);
      color: var(--text-brand);
      background-color: var(--fill-brand);
    }

    &:active {
      background-image: linear-gradient(var(--fill), var(--fill));
    }
  }
}
