@layer components {
  .avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    background-color: var(--text-brand);
    color: var(--text-inverse);
  }
}
