* {
  margin: 0;
}

:root {
  --body-bg: white;
  --body-bg-overlay: rgba(255, 255, 255, 0.5);
  --content-bg: white;
  --left-sidebar-bg: white;
  --right-sidebar-bg: white;
  --highlight-bg: green;

  --header-height: 10dvh;
}

[data-theme="dark"] {
  --body-bg: grey;
  --body-bg-overlay: rgba(128, 128, 128, 0.5);
  --content-bg: #a0a0a0;
  --left-sidebar-bg: #999999;
  --right-sidebar-bg: #555555;
  --highlight-bg: pink;
}

body {
  background-color: var(--body-bg);
}

.header {
  position: sticky;
  top: 0;
  height: var(--header-height);
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.content {
  background-color: var(--content-bg);

  :is(h1, h2, h3, h4, h5, h6) {
    scroll-margin-top: var(--header-height);
  }
}

.left-sidebar {
  background-color: var(--left-sidebar-bg);
}

.right-sidebar {
  background-color: var(--right-sidebar-bg);
}

.left-sidebar,
.right-sidebar {
  position: sticky;
  top: var(--header-height);
  height: calc(100dvh - var(--header-height));
}

.highlight {
  background-color: var(--highlight-bg);
}

.hamburger {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: var(--body-bg-overlay);
  cursor: pointer;
  z-index: 98;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  padding: 0;
  background-color: transparent;
  outline: none;

  &::backdrop {
    background: var(--body-bg-overlay);
  }
}

/* 适配较窄屏幕 */
@media (max-width: 1280px) {
  .main-layout {
    grid-template-columns: 1fr 3fr;
  }

  .right-sidebar {
    display: none;
  }
}

/* 适配移动端 */
@media (max-width: 640px) {
  .main-layout {
    grid-template-columns: 1fr;
  }

  .left-sidebar {
    position: fixed;
    transform: translateX(-100%);
    z-index: 99;
  }

  .left-sidebar.open {
    transform: translateX(0);
  }

  .overlay.open {
    display: block;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
