* {
  margin: 0;
}

:root {
  --body-bg: white;
  --content-bg: white;
  --left-sidebar-bg: white;
  --right-sidebar-bg: white;
  --highlight-bg: green;
}

[data-theme="dark"] {
  --body-bg: grey;
  --content-bg: #a0a0a0;
  --left-sidebar-bg: #999999;
  --right-sidebar-bg: #555555;
  --highlight-bg: pink;
}

body {
  background-color: var(--body-bg);
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.content {
  background-color: var(--content-bg);
}

.left-sidebar {
  background-color: var(--left-sidebar-bg);
}

.right-sidebar {
  background-color: var(--right-sidebar-bg);
}

.left-sidebar,
.right-sidebar {
  position: sticky;
  top: 0;
  align-self: start;
}

.highlight {
  background-color: var(--highlight-bg);
}
