@layer components {
  .user-head {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding: var(--space-xs) var(--space-s);
  }

  .user-body {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    font-size: var(--text-tiny);
    line-height: var(--leading-tiny);
  }

  .user-name {
    color: var(--text-solid);
    font-size: var(--text-small);
    line-height: var(--leading-small);
  }

  .user-role {
    display: flex;
    align-items: center;
    color: var(--text-success);
  }

  .dot {
    display: inline-block;

    margin-left: auto;

    padding-inline: var(--space-xxs);
    min-width: 1lh;

    text-align: center;
    border-radius: 999px;
    background-color: var(--stroke-weak-brand);
    color: var(--text-solid);
  }
}
